div {
  padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px;
}

<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 50px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 50px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

<style>
 .heading{
   text-shadow: text-shadow: 1px 1px 2px black;
   font-weight: bold;
   font: 1.2em "Fira Sans", serif;
   color: #5A464C
}

.subheading {
  text-align: center;
  font: 1.2em "Fira Sans", serif;
  font-style: italic;
}
</style>

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area	{
	width: 560px;
	height: 400px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/PIA23791-Venus-NewlyProcessedView-20200608.jpg/330px-PIA23791-Venus-NewlyProcessedView-20200608.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
}
